<div class="tag">
    <div class="content">
        <div class="infos">
            <div class="headers">
                <div>
                    <h4>Criar Designer</h4>
                    <p>Designado para nome</p>
                </div>
                <div>
                    <div class="circle">
                        <p>92</p>
                    </div>
                </div>
            </div>

            <div class="description">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing</p>
            </div>
        </div>
        <div class="otherInfos">
            <ul>
                <li>
                    <button>
                        <i class="fa-regular fa-comments"></i>

                    </button>
                </li>
                <li>
                    <button>
                        <i class="fa-solid fa-bars"></i>

                    </button>
                </li>
                <li>
                    <p>
                        <i class="fa-regular fa-user"></i>

                    </p>
                </li>
                <li>
                    <p>
                        <i class="fa-solid fa-calendar-days"></i>

                    </p>
                </li>
                
            </ul>
        </div>
    </div>
</div>