/*Configurações do Cards usado de "etiqueta" para o kanban*/
.tag{
    background-color: red;
    position: relative;
    width: 17rem;
    height: 10.5rem;
    border-radius: 10px;
    overflow: hidden;
    color:var(--letterColor);
}
.tag .content{
    position: absolute;
    inset: 0px 0px 0px 5px;
    background-color: rgb(50,61,95);
    display: flex;
    flex-direction: column;



  
}
    .content .infos{
        display: flex;
        flex-direction:column;
        gap: 20px;
        position: relative;
        height: 100%;
        padding-top: 20px;
    }
        .infos::after{
            content: "";
            background-color: white;
            width: 100%;
            height: 1px;
            bottom: 0;
            left: 0;
        }
            .infos .headers{
                display: flex;
                justify-content: space-between;
                padding: 0 20px ; 

            }
                .headers .circle{
                    width: 2rem;
                    height: 2rem;
                    margin-top: 10px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 50%;
                    background-color: rgba(255,0,0,0.2);
                    
                }
                    .headers .circle p{
                        color: white !important;
                    }

                    .infos .headers div:first-child p{
                        font-size: 9pt;
                        color:rgb(92,103,124)
                    }
        .infos .description{
            color:rgb(200,200,200);
            padding: 0 20px;
            font-size: 9pt;
        }

.tag .otherInfos{
    height: 20%;
}
    .otherInfos ul{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
        .otherInfos ul li button,otherInfos ul li p{
            width: 2rem;
            height: 2rem;
            background-color: transparent;
            border: none;
            font-size:12pt ;
            color: rgb(200,200,200);
            cursor: pointer;
            transition: color .4s ease, scale .4s ease-in;
        }
        .otherInfos ul li button:hover{
            color:var(--iconColor);
            scale: 1.3;
        }
   